html { 
    background: url(beach-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
  }

.me {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: #f2f2f2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 0px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    margin-top: 0px;
}

p {
    color: #f2f2f2;
    text-align: center;
}

#wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 40px;
    font-size: 14px;
}

/* Roger did text-align in the wrapper tag */   