html { 
    background: url(beach-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.me {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: #f2f2f2;
}

h1 {
    font-size: 50px;
    color: #f2f2f2;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
}

p {
    color: #f2f2f2;
    text-align: center;
}