html { 
    background: url(beach-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
  }

.me {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}

#wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 40px;
    font-size: 14px;
    margin-top: 30px;
}

/* Roger did text-align in the wrapper tag */   

.hrAbout {
    height: 3px;
    background-color: #bfbfbf;
    border: none;
    width: 50px;
}

ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navBarList {
    float: left;
  }
  
  li.navBarList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navBarList a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #99badd;
  }